<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Competición</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <style>
        body {
            background-color: #ebebebcc;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
        }
        .btn-custom {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            text-align: center;
            color: #333;
        }
        .btn-custom img {
            width: 170px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .header img {
            width: 60px;
            height: auto;
            margin-right: 10px;
            border-radius: 7%;
        }
        .navbar-brand {
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <header class="container-fluid pt-1 pb-1 bg-warning d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-5">SPRING - Marlon Yesid Sánchez Moncada</p>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark p-3" id="menu">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img th:src="@{/java_logo_blanco.png}" alt="#">
                <span class="ml-2 fs-5 text-white fw-bold">Spring Framework</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Agrega los elementos del menú aquí -->
                </ul>
            </div>
        </div>
    </nav>
	<div class="container d-flex flex-column justify-content-center align-items-center">
    <main class="d-flex justify-content-center flex-column align-items-center p-3 m-3">
        <h1>Ingresar Competición</h1>
        <h2>Ingrese los datos de la Competición</h2>
        <br>

        <form th:action="@{/guardarCompeticion}" th:object="${competicion}" method="post"
            class="d-flex flex-column g-3 needs-validation">

            <input type="hidden" th:field="*{id}" th:value="${competicion.id}" />

            <div class="form-floating">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre Competición:"
                    th:field="*{nombre}" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                    th:errors="*{nombre}"></small>
                <label for="nombre" class="form-label p-3">Nombre: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="montoPremio" placeholder="Monto Premio:"
                    th:field="*{montoPremio}" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('montoPremio')}"
                    th:errors="*{montoPremio}"></small>
                <label for="montoPremio" class="form-label p-3">Monto Premio: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="fechaInicio" placeholder="Fecha Inicio (YYYY-MM-DD):"
                    th:field="*{fechaInicio}" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaInicio')}"
                    th:errors="*{fechaInicio}"></small>
                <label for="fechaInicio" class="form-label p-3">Fecha Inicio: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="fechaFin" placeholder="Fecha Fin (YYYY-MM-DD):"
                    th:field="*{fechaFin}" th:errorclass="'form-control alert-danger'" />
                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaFin')}"
                    th:errors="*{fechaFin}"></small>
                <label for="fechaFin" class="form-label p-3">Fecha Fin: </label>
            </div>

            <div class="d-flex mb-3">
                <input type="submit" class="form-control btn-warning me-4 m-2" value="Enviar">
                <input type="reset" class="form-control btn btn-dark m-2" value="Restablecer">
            </div>

            <div class="p-3 text-center"><br><a th:href="@{/verCompeticion}" class="btn btn-outline-primary">Atras</a>
            </div>
        </form>
    </main>
	</div>
    <footer class="bg-dark text-white mt-5 py-3">
        <div class="container d-flex justify-content-center justify-content-lg-between align-items-center flex-wrap">
            <p class="text-center text-lg-start flex-grow-1 mb-0">&copy; Marlon Yesid Sánchez Moncada - Derechos
                Reservados.</p>
            <div class="social-links d-flex justify-content-center justify-content-lg-end align-items-center">
                <a href="#"><img th:src="@{/facebook.png}" alt="Facebook" width="40px" height="40px"></a>
                <a href="#"><img th:src="@{/instagram.png}" alt="Instagram" width="40px" height="40px"></a>
                <a href="#"><img th:src="@{/twitter.png}" alt="Twitter" width="40px" height="40px"></a>
                <a href="#"><img th:src="@{/youtube.png}" alt="YouTube" width="40px" height="40px"></a>
            </div>
        </div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
		</body>
		</html>